body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.btn {    
    background-color: #4CAF50; 
    color: white; 
    height: 50px;
    width: 100px;
    text-align: center; 
    font-size: 16px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
}

.btn:hover {
    background-color: #45a049; 
}
